<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shift Arrange</title>
     <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript" src="jquery-3.2.1.js"></script>
    <script type="text/javascript" src="d3.js"></script>
    <script type="text/javascript" src="calculate.js"></script>
</head>
<body>
    <div id="app">
        <form id='save' action="javascript:void(0);">
            <label>save string</label><input  type="text" v-model="saveString">
        </form>
        <br>
        <form action="javascript:void(0);">
            <label>firstWeekDay</label><input type="text" v-model="data.firstWeekDay">
            <label>totalDay</label><input type="text" v-model="data.totalDay">
            <button @click="initialize">Initialize</button>
            <button @click='dutyView=!dutyView'>toggle Duty view</button>
            <button @click="save">save</button>
            <button @click="load">load</button>
        </form>
        <br>
         <form action="javascript:void(0);">
             <button @click="calculate">calculate</button>
             結果數:<span>{{data.resultPool.length}}</span>排除數:<span>{{data.deadEnd.count}}</span>
             <label>Show result:</label><input type="text" v-model="showResult">
         </form>
            
         <br>
        <table id='count'>
            <tr>
                <th>病房</th>
                <th>平日班數({{sumWorkday}})</th>
                <th>假日班數({{sumHoliday}})</th>
            </tr>
            <tr>
                <td>PICU</td>
                <td v-for="num in PICounts">{{num}}</td>
            </tr>
            <tr>
                <td>NICU</td>
                <td v-for="num in NICounts">{{num}}</td>
            </tr>
            <tr>
                <td>A091</td>
                <td v-for="num in A91Counts">{{num}}</td>
            </tr>
            <tr>
                <td>A093</td>
                <td v-for="num in A93Counts">{{num}}</td>
            </tr>
            <tr>
                <td>NBR</td>
                <td v-for="num in NBCounts">{{num}}</td>
            </tr>
        </table>
        <br>
        <table id='doctor'>
            <tr>
               <td colspan="12">WeekDay</td>
                <td v-for="day in data.weekDayList">{{day}}</td>
            </tr>
            <tr>
                <th colspan="12">日期</th>
                <th v-for="(day, index) in data.dayList" :class="[day?'holiday':'workday']" @click="clickWeekday(index)" @contextmenu.prevent="clickWeekday(index)">{{index+1}}</th>
            </tr>
            <tr v-for="duty in data.dutyList">
                <th colspan="12">{{duty.ward}}</th>
                <th class='dutyCell' v-for="dutyDay in duty.dayList" @click="selected=dutyDay"
                :class="[(selected===dutyDay&&selected!=='')?'selected':'']"
                v-html="data.doctorList[dutyDay]&&data.doctorList[dutyDay].name"></th>
            </tr>

            <tr>
                <td>Name</td>
                <td>G</td>
                <td colspan="2">PI</td>
                <td colspan="2">NI</td>
                <td colspan="2">A91</td>
                <td colspan="2">A93</td>
                <td colspan="2">NB</td>
                <th v-for="(day, index) in data.dayList" :class="[day?'holiday':'workday']" @click="clickWeekday(index)" @contextmenu.prevent="clickWeekday(index)">{{index+1}}</th>
            </tr>
            <tr v-for="(doctor,d) in data.doctorList">
                <td class='name'><input type="text" class='cell' v-model="doctor.name"></td>
                <td class='group' @click="clickGroup(d)" @contextmenu.prevent="rightClickGroup(d)">{{doctor.group}}</td>
                <td class='optional' @click="clickDutyCount(d,'PI','WD',1)" @contextmenu.prevent="clickDutyCount(d,'PI','WD',-1)" :class="{have:doctor.PI.WD>0}" v-html="doctor.PI.WD>0?doctor.PI.WD:''"></td>
                <td class='optional' @click="clickDutyCount(d,'PI','HD',1)" @contextmenu.prevent="clickDutyCount(d,'PI','HD',-1)" :class="{have:doctor.PI.HD>0}" v-html="doctor.PI.HD>0?doctor.PI.HD:''"></td>
                <td class='optional' @click="clickDutyCount(d,'NI','WD',1)" @contextmenu.prevent="clickDutyCount(d,'NI','WD',-1)" :class="{have:doctor.NI.WD>0}" v-html="doctor.NI.WD>0?doctor.NI.WD:''"></td>
                <td class='optional' @click="clickDutyCount(d,'NI','HD',1)" @contextmenu.prevent="clickDutyCount(d,'NI','HD',-1)" :class="{have:doctor.NI.HD>0}" v-html="doctor.NI.HD>0?doctor.NI.HD:''"></td>
                <td class='optional' @click="clickDutyCount(d,'A91','WD',1)" @contextmenu.prevent="clickDutyCount(d,'A91','WD',-1)":class="{have:doctor.A91.WD>0}" v-html="doctor.A91.WD>0?doctor.A91.WD:''"></td>
                <td class='optional' @click="clickDutyCount(d,'A91','HD',1)" @contextmenu.prevent="clickDutyCount(d,'A91','HD',-1)" :class="{have:doctor.A91.HD>0}" v-html="doctor.A91.HD>0?doctor.A91.HD:''"></td>
                <td class='optional' @click="clickDutyCount(d,'A93','WD',1)" @contextmenu.prevent="clickDutyCount(d,'A93','WD',-1)":class="{have:doctor.A93.WD>0}" v-html="doctor.A93.WD>0?doctor.A93.WD:''"></td>
                <td class='optional' @click="clickDutyCount(d,'A93','HD',1)" @contextmenu.prevent="clickDutyCount(d,'A93','HD',-1)" :class="{have:doctor.A93.HD>0}" v-html="doctor.A93.HD>0?doctor.A93.HD:''"></td>
                <td class='optional' @click="clickDutyCount(d,'NB','WD',1)" @contextmenu.prevent="clickDutyCount(d,'NB','WD',-1)":class="{have:doctor.NB.WD>0}" v-html="doctor.NB.WD>0?doctor.NB.WD:''"></td>
                <td class='optional' @click="clickDutyCount(d,'NB','HD',1)" @contextmenu.prevent="clickDutyCount(d,'NB','HD',-1)" :class="{have:doctor.NB.HD>0}" v-html="doctor.NB.HD>0?doctor.NB.HD:''"></td>
                <td v-if="dutyView" class='dutyString' :colspan="data.dayList.length">{{doctor.dutyString}}</td>
                <td v-else class='duty' v-for="(dutySlot,i) in doctor.dayList" @click="clickSlot(d,i)" @contextmenu.prevent="rightClickSlot(d,i)">{{dutySlot}}</td>
                <td class='clear' @click="clear(d)">C</td> 
                <td class='up' v-if="d>0" @click="moveUp(d)">&#8593;</td>
                <td class='up' v-else></td>
                <td class='down' v-if="d<data.doctorList.length-1" @click="moveDown(d)">&#8595;</td>
                <td class='down' v-else></td>
                <td class='add' @click="addAt(d)">&#43;</td>
                <td class='del' @click="delAt(d)">&#8722;</td>
            </tr>
        </table>
    </div>
</body>
    <script type="text/javascript" src="vm.js"></script>
</html>