#save{
    text-align: right;
}
table#count{
    width:50%;
    text-align: center;
}
table#doctor{
    width:100%;
    text-align: center;
}
#doctor th,#doctor td{
    width:20px;
}
.cell{width: 95%; background-color: inherit;}
.dutyCell{
    background: hsl(180,60%,80%);
}
.name{
    width:120px!important;
}
.workday{
    background: hsl(150,50%,50%)
}
.holiday{
    background: hsl(20,50%,50%)
}
.workdayDuty{
    background: hsl(150,50%,80%)
}
.holidayDuty{
    background: hsl(20,50%,80%)
}
.group{
    background: hsl(80,50%,50%)
}
.main{
    background: hsl(100,50%,50%)
}
.optional{
    background: hsl(150,50%,50%)
}
.duty{
    background-color: hsl(250,30%,90%);
}
.dutyString{
    background-color: hsl(270,30%,90%);
    text-align: left;
}
.clear,.add,.del,.up,.down{
    width:10px;
    background-color: hsl(0,60%,80%);
}