<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NTISS</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript" src="jquery-3.2.1.js"></script>
    <script type="text/javascript" src="d3.js"></script>
    
</head>
<body>
    <div id="app">
        <h2>日期：{{currentDate}}</h2><h1> NTISS總分：{{totalScore}}</h1>
        <div id="nav" class="cols">
            <div class="nameCard">
                <div>{{name}}</div>
                <div>{{patientNo}}</div>
                <div>{{birthday}}</div>
            </div>
            <div class="controls">
                <div>新增</div>
                <div>刪除</div>
            </div>
            <div class="list">
                <table>
                    <tr>
                        <th>日期</th>
                        <th>總分</th>
                    </tr>
                    <tr v-for='item in recordList'>
                        <td>{{item.date}}</td>
                        <td>{{item.score}}</td>
                    </tr>
                </table>
                
            </div>
        </div>
        <div id="col1" class="cols">
            <table v-for='(table,index) in tables' v-if='index >= col1Table[0] && index <= col1Table[1]' :class='"table"+index'>
                <tr>
                    <th colspan="4">{{table.tableName}}</th>
                </tr>
                <tr v-for='row in table.items' @click="checkSameGroup(table,row)" :class='{trSelected:row.selected,hoverable:row.name}'>
                    <td class="spacing"></td>
                    <td class='name'>{{row.name}}</td>
                    <td :class='row.selected?"selectedScore":"nonSelectedScore"'>{{row.score}}</td>
                    <td class="spacing"></td>
                </tr>
            </table>
        </div>
       <div id="col2" class="cols">
             <table v-for='(table,index) in tables' v-if='index >= col2Table[0] && index <= col2Table[1]' :class='"table"+index'>
                <tr>
                    <th colspan="4">{{table.tableName}}</th>
                </tr>
                <tr v-for='row in table.items' @click="checkSameGroup(table,row)" :class='{trSelected:row.selected,hoverable:row.name}'>
                    <td class="spacing"></td>
                    <td class='name'>{{row.name}}</td>
                    <td :class='row.selected?"selectedScore":"nonSelectedScore"'>{{row.score}}</td>
                    <td class="spacing"></td>
                </tr>
            </table>
       </div>
       <div id="col3" class="cols">
             <table v-for='(table,index) in tables' v-if='index >= col3Table[0] && index <= col3Table[1]' :class='"table"+index'>
                <tr>
                    <th colspan="4">{{table.tableName}}</th>
                </tr>
                <tr v-for='row in table.items' @click="checkSameGroup(table,row)" :class='{trSelected:row.selected,hoverable:row.name}'>
                    <td class="spacing"></td>
                    <td class='name'>{{row.name}}</td>
                    <td :class='row.selected?"selectedScore":"nonSelectedScore"'>{{row.score}}</td>
                    <td class="spacing"></td>
                </tr>
            </table>
       </div>
        <div class='clear'></div>
    </div>
    
</body>
    <script type="text/javascript" src="vm.js"></script>
</html>