body{
    background: hsl(250,20%,95%);
    font-family: "Microsoft JhengHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow-y:scroll;
    font-size: 14px;
}
h1{
    text-align: center;
    margin-top:5px;
    margin-bottom:5px;
}
h2{
    text-align: center;
    margin-top:5px;
    margin-bottom:5px;
}
.button {
    background-color: hsl(200,60%,85%);
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top:0px;
    left:0px;
    font-size: 16px;
}
#app{
    margin: auto;
}
.cols{
    float:left;
    min-height: 50px;
    max-width: 400px;
    margin:auto;
}
#nav{
    width: 200px;
    margin-right:30px;
}
#nav>div{
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nameCard{
    background-color: hsl(200,50%,85%);
    font-size: 1.2em;
    font-weight: 600;
}
.controls{
    background-color: white;
    font-size: 1.2em;
    padding: 5px;
}
.control>div{
    padding: 10px 0px;
}
.controls>div:hover{
    background: hsl(200,40%,90%);
}
.list{
    background-color:  hsl(250,50%,95%);
    text-align: center;
}
.list>table{
    width:100%;
    border-collapse: collapse;
}
.list tr:first-child{
    background-color:  hsl(250,50%,95%)!important;
}
.list tr:hover{
    background: hsl(250,90%,90%);
}
.clear{
    clear:both;
}
#col1>table,#col2>table,#col3>table{
    width: 95%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
th{
    font-size: 1.2em;
    line-height: 1.5em;
}
tr>td.name{
    width: 360px;
}
td.spacing{
    width:5px;
}
tr{
    height: 10px;
    border: 1px solid transparent;
}
.table0{
    background: hsl(0, 20%, 85%);
}
.table1{
    background: hsl(45, 20%, 85%);
}
.table2{
    background: hsl(90, 20%, 85%);
}
.table3{
    background: hsl(135, 20%, 85%);
}
.table4{
    background: hsl(180, 20%, 85%);
}
.table5{
    background: hsl(225, 20%, 85%);
}
.table6{
    background: hsl(270, 20%, 85%);
}
.table7{
    background: hsl(320, 20%, 85%);
}


.trSelected td{
    background: white;
}

tr.hoverable:hover{
    background: hsl(0,0%,90%);
}

.nonSelectedScore{
    color:grey;
    text-align: center;
}
.selectedScore{
    color:black;
    font-weight: 900;
    text-align: center;
    background-color: hsl(100,80%,80%)!important;
    border: 1px solid black;
}

.sum{
    margin-top:100px;
    font-size: 5em;
    text-align: center;
}

.disclaim{
    font-size: 0.6em;
    text-align: center;
    color: rgba(0,0,0,0.5);
    padding: 2px;
}
