<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ped Dose</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="兒科劑量計算 Pediatric Dosage Calculator">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="vue@2.3.js"></script>
    <script type="text/javascript" src="jquery-3.2.1.js"></script>
    <link rel=stylesheet type="text/css" href="style.css">
    <script type="text/javascript" src="data.js"></script>
</head>

<body onload="Render()">
    <div id="app">
        <div id="header">
            <div class="menuButton" v-show="isMenuOnTop" v-on:click="isMenuShowed=!isMenuShowed">▽ </div>
            <form id="ageForm" action="javascript:void(0);">
                <div>
                    <input type="text" placeholder="Age" class="age" v-model="age" width="100px" @keyup="OnAgeChange" onchange="app.onAgeValueChange()">
                <span v-if="!isAgeInDay">y/o</span>
                </div>
            </form>
            <form action="javascript:void(0);">
                <div>
                    <input type="text" placeholder="BW" class="bw"  v-model="bw" width="100px" @keyup="OnBWChange" onchange="app.onBWValueChange()">
                    <span v-if="!isBwInGram">kg</span>
                </div>
            </form>
            <div class="clearButton" @click="clearButton()">X</div>
        </div>
        <div id="headspacer"></div>
        <transition name="guideAni" key="guide">
            <div class="guide" v-if="showGuide" @click="showGuide=false">輸入"X"d表示"X"天大，"X"g表示"X"克重</div>
        </transition>
        <div class="wraper">
            <transition name="menu">    
                <div class="menu" v-show="isMenuShowed">
                    <form id="searchForm" action="javascript:void(0);">
                        <input type="text" id="searchText" class="search" placeholder="Search"　v-model="searchText"  @keyup="onSearchKeyUp" onchange="app.onSearchTextChange()">
                        <button @click="onSearchClear()">x</button>
                    </form>
                    <ul>
                        <li v-for="item in searchList" @click="searchText=item;isMenuShowed=isMenuOnTop?false:true;onSearchTextChange()"><span>{{item}}</span></li>
                    </ul>
                </div>
            </transition>
            <div class="content" v-bind:class="{'content-menuShowed':isMenuShowed&&!isMenuOnTop}">
                <div v-if="testmode">
                    <br>!!test mode!!<br>
                    real time render = {{realTimeRender}}<br>
                    current age = {{age}}, current bw = {{bw}} <br>
                    age_checked = {{age_checked}}, bw_checked = {{bw_checked}} <br>
                    age in day = {{isAgeInDay}}, ageInDay={{ageInDay}}<br>
                    bw in gram = {{isBwInGram}}, bwForCal = {{bwForCalculation}}<br>
                    searchText = {{searchText}}, searchText_checked = {{searchText_checked}}<br>
                    focused = {{focused}}
                    <br><br>
                </div>
               <transition-group name="list" tag="div">
                    <div v-for="item in drugList" v-if="checkAgeAndBW(item)&&checkSearchText(item)" v-bind:key="item">
                        <div class="container" @click="onContainerClick(item.drugName)" v-bind:class="[item.drugName==focused?'container-focused':'']">
                            <div class="top">   <!--:style="{height: item.height+'px'}"-->
                                <div class="left">
                                    <div class="drugName" v-html="item.drugName">
                                    </div>
                                    <div class="indication" v-html="item.indication">
                                    </div>
                                </div>
                                
                                <div class="right">
                                    <div class="row" v-if="checkAgeAndBW(ind)" v-bind:class="[checkAgeAndBW(ind)?'active':'inactive']" v-for="ind in item.content" >
                                        <div class="description" v-html="ind.description"></div>
                                        <div class="dosage" v-html="ind.dosage"></div>
                                        <div class="calculated" v-if="showCaculated" v-html="ind.calculated"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bot">
                                <div class="info" v-if="item.info" v-html="item.info"></div>
                                <div class="ref">{{item.reference}}</div>
                            </div>
                        </div>
                    </div>
               </transition-group>
               
                <div class="disclaim">此應用程式為開發中版本</div>
                <div class="disclaim">僅供研究參考用，作者不對任何因<br>使用本網站資訊所造成的損失負責</div>
                <div class="disclaim">Authors:台北榮總 羅宇成 蔡宛蓉</div>
                <div class="disclaim">Contact: david855033@gmail.com</div>
                <div class="disclaim">Copyright © 2017 All rights reserved.</div>
            </div>
        </div>
    </div>
    
</body>

<script type="text/javascript" src="action.js"></script>
</html>
