<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="vue@2.3.js"></script>
    <script type="text/javascript" src="jquery-3.2.1.js"></script>
    <link rel=stylesheet type="text/css" href="style.css">
    <script type="text/javascript" src="data.js"></script>
</head>

<body onload="Render()">
    <div id="app">
        <div id="header">
            <div class="menuButton" v-show="isMenuOnTop" v-on:click="isMenuShowed=!isMenuShowed">▽ </div>
            <form id="ageForm" action="javascript:void(0);">
                <div>
                    <input type="text" placeholder="Age" class="age" v-model="age" width="100px" @keyup="OnAgeChange" onchange="app.onAgeValueChange()">
                <span v-if="!isAgeInDay">y/o</span>
                </div>
            </form>
            <form action="javascript:void(0);">
                <div>
                    <input type="text" placeholder="BW" class="bw"  v-model="bw" width="100px" @keyup="OnBWChange" onchange="app.onBWValueChange()">
                    <span v-if="!isBwInGram">kg</span>
                </div>
            </form>
        </div>
        <div id="headspacer"></div>
        <div class="wraper">

            <div class="menu" v-show="isMenuShowed">
                <form id="searchForm" action="javascript:void(0);">
                    <input type="text" id="searchText" class="search" placeholder="Search"　v-model="searchText"  @keyup="onSearchKeyUp" onchange="app.onSearchTextChange()">
                    <button @click="searchText='';onSearchTextChange()">x</button>
                </form>
                <ul>
                    <li v-for="item in searchList" @click="searchText=item;isMenuShowed=isMenuOnTop?false:true;onSearchTextChange()">{{item}}</span></li>
                </ul>
            </div>

            <div class="content" v-bind:class="{'content-menuShowed':isMenuShowed&&!isMenuOnTop}">
                <div v-if="testmode">
                    <br>!!test mode!!<br>
                    real time render = {{realTimeRender}}<br>
                    current age = {{age}}, current bw = {{bw}} <br>
                    age_checked = {{age_checked}}, bw_checked = {{bw_checked}} <br>
                    age in day = {{isAgeInDay}}, ageInDay={{ageInDay}}<br>
                    bw in gram = {{isBwInGram}}, bwForCal = {{bwForCalculation}}<br>
                    searchText = {{searchText}}, searchText_checked = {{searchText_checked}}
                    <br><br>
                </div>

                <div v-for="item in drugList" v-if="checkAgeAndBW(item)&&checkSearchText(item)">
                    <div class="container">
                        <div class="top">   <!--:style="{height: item.height+'px'}"-->
                            <div class="left">
                                <div class="drugName" v-html="item.drugName">
                                </div>
                            </div>
                            <div class="mid">
                                <div class="indication" v-html="item.indication"></div>
                            </div>
                            <div class="right">
                                <div class="row" v-if="checkAgeAndBW(ind)" v-bind:class="[checkAgeAndBW(ind)?'active':'inactive']" v-for="ind in item.content" >
                                    <div class="description" v-html="ind.description"></div>
                                    <div class="dosage" v-html="ind.dosage"></div>
                                    <div class="calculated" v-if="!bw==0&&checkAgeAndBW(ind)" v-html="ind.calculated"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bot">
                            <div class="info" v-if="item.info" v-html="item.info"></div>
                            <div class="ref">{{item.reference}}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

<script type="text/javascript" src="action.js"></script>
</html>