body{
    background: rgb(200,200,200);
    font-family:Arial,sans-serif;
    font-size: 1.2em;
}
#header{
    top:0px;
    left:0px;
    background: rgb(130,180,200);
    box-shadow: 3px 3px 5px #AAAAAA;
    width:100%;
    position:fixed;
    z-index:100;
    height: 45px;
    text-align: center;
    overflow: hidden;
    white-space : nowrap; 
}


.menuButton{
    height: 45px;
    width: 40px;
    background: rgba(0,0,0,0.1);
    text-align: center;
    line-height: 40px;
    float: left;
}

.menu{
    width: 200px;
    height: 100%;
    background:rgb(210,220,230);
    top: 45px;
    left: 0px;
    position: fixed;
    z-index:101;
    box-shadow: 3px 3px 5px #AAAAAA;
    border-right-color: black;
    border-right-width: 5px;
    text-align: center;
}
.menu ul
{
    text-align: left;
}
.menu ul li:hover
{
    background: lightblue;
}

#searchForm{
    margin-top:10px;
    white-space : nowrap; 
}
.search{
    width: 120px;
    text-align: center;
}

.content{
    position: absolute;
}

.content-menuShowed{
    left: 220px;
}

#header>form{
   padding: 2px;
   font-size: 1em;
   line-height: 40px;
   display: inline-block;
}
#header>form div{
    margin-right: 5px;
    margin-bottom: 5px; 
}
.ageForm{
    margin-left: 18px;
}
.age{
   width: 55px;
   line-height: 18px;
}

.bw{
   width: 55px;
   line-height: 20px;
}
#header>form input{
   font-size: 1em;
   text-align: center;
}

#headspacer{
    width:100%;
    height: 30px;
}
.container{
    background: white;
    box-shadow: 3px 3px 5px #AAAAAA;
    margin-top: 10px; 
    margin-bottom: 10px;  
    padding-top:10px; 
}
.top
{
    margin:2px;
    overflow: hidden;
}
.top>div
{
    float:left;
}

.top>div
{
    overflow: hidden;
}

.left{
    width: 30%;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
}
.drugName{
    font-size: 0.9em;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 8px;
}
.indication{
    text-align: center;
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: 8px;
    color: blue;
}

.right{
    width: 68%;
    font-size: 0.8em;
}

.row{
    background: rgba(0,150,255,0.1);
    margin-top: 10px;
    margin-bottom: 10px;
}
.row>div
{
    
    padding-left: 5px;
    overflow: hidden;
}
.description
{
    width:100%;
    white-space: nowrap;
    font-weight: 600;
    background: rgba(0,150,255,0.3);
    font-size: 0.9em;
}
.dosage
{
    width:100%;
    white-space: nowrap;
    padding: 2px;
    font-size: 0.9em;
}
.calculated
{
    width:100%;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    font-size: 0.9em;
}

.inactive
{
    color:rgba(0,0,0,0.2);
}
.active
{
    color:black;
}

.bot
{
    clear:both;
    padding: 2px;
}
.info
{
    padding-top:  10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.info li{
    float: left;
    color: rgb(100,10 0,100);
    font-size: 0.7em;
    white-space: nowrap;
}

.ref
{
    text-align: right;
    clear:both;
    background: rgba(0,0,50,.03);
    padding: 2px;
    color:  rgba(0,0,50,.3);
    font-size: 0.5em;
}
.emphasize
{
    background: lightpink;
}
.subtittle
{
    font-size: 0.5em;
    font-weight: 300;
    white-space: nowrap;
}
.maxDose{
   background: yellow;
}
.disclaim{
    font-size: 0.6em;
    text-align: center;
    color: rgba(0,0,0,0.5);
    padding: 2px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
{ font-size: 16px; }