body{
    background: rgb(200,200,200);
    font-family: Microsoft JhengHei, Arial,sans-serif;
    font-size: 1em;
}
#header{
    top:0px;
    left:0px;
    background: rgb(130,180,200);
    box-shadow: 3px 3px 5px #AAAAAA;
    width:100%;
    position:fixed;
    z-index:100;
    height: 45px;
    text-align: center;
    overflow: hidden;
    white-space : nowrap; 
}
textarea:focus, input:focus{
    outline: none;
}


.menuButton{
    height: 45px;
    width: 40px;
    background: rgba(0,0,0,0.1);
    text-align: center;
    line-height: 40px;
    float: right;
    font-size: 25px;
}

.clearButton{
    height: 45px;
    width: 40px;
    background: rgb(235,150,150);
    text-align: center;
    line-height: 40px;
    float: left;
    font-size: 10px;
}

.menu{
    width: 150px;
    background: rgb(215,225,225);
    top: 45px;
    right: 0px;
    position: fixed;
    z-index:101;
    box-shadow: 3px 3px 5px #AAAAAA;
    text-align: center;
    border-bottom-right-radius: 3px;
}

.menu-enter-active {
  transition: all 0.25s 
}
 .menu-leave-active{
    transition: all 0.1s 
 }
.menu-enter, .menu-leave-to  {
  transform: translateX(200px);
}

.menu ul
{
    text-align: right;
    list-style: none;
    margin: 5px; padding: 0;
}
.menu ul li
{
    transition: background 0.3s;
    cursor: pointer;
}
.menu ul li{
    padding: 3px;
    padding-right: 5px;
    border-right: 4px solid grey;
}

.menu ul li:hover
{
    border-right: 4px solid rgb(50,80,150);
    text-decoration: none; 
    background: rgba(50,80,255,0.2)
}
.li-focused
{
    border-right: 4px solid rgb(50,80,200) !important;
}

#searchForm{
    margin-top:10px;
    white-space : nowrap; 
}
.search{
   width: 100px;
   font-size: 16px;
   text-align: center;
   line-height: 18px;
   border-radius: 5px;
}
.clearSearch{
     border-radius: 5px;
     line-height: 18px;
     transform: translateY(-2px);
}
.content{
    position: absolute;
    left: 5px;
}

.content-menuShowed{
    right: 5px;
}

#header>form{
   padding: 2px;
   font-size: 1em;
   line-height: 40px;
   display: inline-block;
}
#header>form div{
    margin-right: 5px;
    margin-bottom: 5px; 
}
.ageForm{
    margin-left: 18px;
}
#header>form input{
   font-size: 16px;
   text-align: center;
    width: 55px;
   line-height: 18px;
   border-radius: 5px;
}

#headspacer{
    width:100%;
    height: 35px;
}

.guide{
    font-size: 0.8em;
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-weight: 600;
    margin-top:5px;
    max-height: 15px;
}
.guideAni-enter-active, .guideAni-leave-active {
    transition: all 0.2s;
}
.guideAni-enter, .guideAni-leave-to /* .fade-leave-active in <2.1.8 */ {
    max-height: 0px;
    opacity: 0px;
}

.container{
    background: white;
    box-shadow: 3px 3px 5px #AAAAAA;
    margin-top: 10px; 
    margin-bottom: 10px;  
    padding-top:10px; 
    border-radius: 3px;
}
.container, .menuButton, .clearButton{
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}
.menuButton:active, .clearButton:active{
    background: rgba(200,200,200,1);
}
.container:active{
    background: rgb(235,235,235);
}

.container-focused{
    background: rgb(255,255,245);
    outline: 2px solid black;
}

.top
{
    margin:2px;
    overflow: hidden;
}
.top>div
{
    float:left;
}

.top>div
{
    overflow: hidden;
}

.left{
    width: 30%;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
}
.drugName{
    font-size: 0.9em;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 8px;
}
.indication{
    text-align: center;
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: 8px;
    color: rgb(50,100,200);
}

.right{
    width: 68%;
    font-size: 0.8em;
}

.row{
    background: rgba(0,150,255,0.1);
    margin-top: 10px;
    margin-bottom: 10px;
    outline: 0.5px solid grey;
}
.row>div
{
    
    padding-left: 5px;
    overflow: hidden;
}
.description
{
    width:100%;
    white-space: nowrap;
    font-weight: 600;
   
    font-size: 0.9em;
    padding: 2px;
}
.dosage
{
    width:100%;
    white-space: nowrap;
    padding: 2px;
    font-size: 0.9em;
}
.calculated
{
    width:100%;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    font-size: 1.1em;
    background: rgb(255,235,180);
    padding: 4px;
    line-height: 1.1em;
}

.inactive
{
    color:rgba(0,0,0,0.2);
}
.active
{
    color:black;
}

.bot
{
    clear:both;
    padding: 2px;
}
.info
{
    padding-top:  10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.info li{
    float: left;
    color: rgb(100,10 0,100);
    font-size: 0.7em;
    white-space: nowrap;
    margin-left: 5px;
}

.ref
{
    text-align: right;
    clear:both;
    background: rgba(0,0,50,.03);
    padding: 2px;
    color:  rgba(0,0,50,.3);
    font-size: 0.5em;
}
.emphasize
{
    background: lightpink;
}
.subtittle
{
    font-size: 0.5em;
    font-weight: 300;
    white-space: nowrap;
}
.maxDose{
   background: yellow;
}


.disclaim{
    font-size: 0.6em;
    text-align: center;
    color: rgba(0,0,0,0.5);
    padding: 2px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
{ font-size: 16px; }

.list-move{
    transition: all 0.5s ease;
}

.list-leave-active{
    max-height: 0px;
    overflow: hidden;
}

