body{
    background: rgb(200,200,200);
    font-family: "Microsoft JhengHei","Helvetica Neue",Helvetica,Arial,sans-serif;
     overflow-y:scroll;
}
input{font-family:inherit;}
#header{
    top:0px;
    left:0px;
    background: rgb(130,180,200);
    box-shadow: 3px 3px 5px #AAAAAA;
    width:100%;
    position:fixed;
    z-index:100;
    height: 45px;
    text-align: center;
    overflow: hidden;
    white-space : nowrap; 
}
textarea:focus, input:focus{
    outline: none;
}

.bw-outrange{
    background: pink !important;
}
.bw{
    background: white;
}
.menuButton{
    height: 45px;
    width: 40px;
    background: rgba(70,120,150,0.8);
    color: hsla(0,0%,0%,0.4);
    text-align: center;
    line-height: 40px;
    float: right;
    font-size: 30px;
    transition: 0.3s;
}
.menuButton:hover{
     background: rgba(0,0,0,0.3);
}
.clearButton{
    height: 45px;
    width: 40px;
    background: rgb(235,150,150);
    color: hsla(0,0%,0%,0.4);
    text-align: center;
    line-height: 40px;
    float: left;
    font-size: 30px;
    transition: 0.3s;
}
.clearButton:hover{
    background: rgb(215,135,135);
}
.menu{
    width: 150px;
    background: rgb(205,215,225);
    top: 55px;
    right: 0px;
    position: fixed;
    z-index:101;
    box-shadow: 5px 5px 5px #777777;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.menu-enter-active {
  transition: all 0.15s 
}
 .menu-leave-active{
    transition: all 0.1s 
 }
.menu-enter, .menu-leave-to  {
  transform: translateX(200px);
}

.menu ul
{
    text-align: right;
    list-style: none;
    margin: 5px; padding: 0;
}
.menu ul li
{
    transition: background 0.3s;
    cursor: pointer;
}
.menu ul li{
    padding: 3px;
    padding-right: 5px;
    border-right: 4px solid grey;
}

.menu ul li:hover
{
    border-right: 4px solid rgb(50,80,150);
    text-decoration: none; 
    background: rgba(50,80,255,0.2)
}
.li-focused
{
    border-right: 4px solid rgb(50,80,200) !important;
    background: rgba(50,80,255,0.1)
}
.searchWrap{
    margin-top: 5px;
    width:100%;
    text-align: center;
    height: 30px;
    overflow: hidden;
}
#searchForm{
    height: 100%;
    white-space : nowrap; 
    text-align: center;
    display: inline-block;
}

.search{
   width: 80px;
   font-size: 16px;
   text-align: center;
   line-height: 18px;
   height: 20px;
   border-radius: 5px;
   border: 1px solid rgb(120,120,120);
   vertical-align:top;
   box-sizing: content-box;
}
.clearSearch{
     border-radius: 5px;
     line-height: 18px;
     height: 22px;
     width: 22px;
     border: 1px solid rgb(120,120,120);
     display: inline-block;
     box-sizing: content-box;
      background: white;
      vertical-align:top;
}
.clearboth
{
    clear: both;
}
input:hover{
      border: 1px solid rgb(50,50,150) !important;
      background: rgb(245,245,255) !important;
}

.clearSearch:hover{
      border: 1px solid rgb(50,50,200) !important;
     background: rgb(245,245,255) !important;
 }
.clearSearch:active{
     border: 1px solid rgb(50,50,200) !important;
     background: rgb(225,225,245) !important;
 }
.content{
    position: absolute;
    left: 5px;
}

.content-menuShowed{
    right: 5px;
}

#header>form{
   padding: 2px;
   font-size: 1em;
   line-height: 40px;
   display: inline-block;
}
#header>form div{
    margin-right: 5px;
    margin-bottom: 5px; 
}
.ageForm{
    margin-left: 18px;
}
#header>form input{
    font-size: 16px;
    text-align: center;
    width: 55px;
    line-height: 18px;
    border-radius: 5px;
    border: 1px solid rgb(120,120,120);
    height: 20px;
}

#headspacer{
    width:100%;
    height: 35px;
}


.container{
    background: white;
    box-shadow: 3px 3px 5px #AAAAAA;
    margin-top: 14px; 
    margin-bottom: 10px;  
    padding-top:10px; 
    border-radius: 3px;
}
.menuButton, .clearButton{
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}
.menuButton:active, .clearButton:active{
    background: rgba(200,200,200,1);
}
.left{
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}
.left:active{
    transform: translateY(1px);
}

.container-focused{
    box-shadow: 8px 8px 13px #333333;
    outline: 1px solid black;
    transition: 0.2s;
}

.top
{
    margin:2px;
}


.left{
    margin-top: 5px;
    width: 30%;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    float:left;
    overflow: hidden;
}
.drugName{
    font-size: 0.9em;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 8px;
}
.indication{
    text-align: center;
    font-size: 0.7em;
    font-weight: 600;
    margin-bottom: 8px;
    color: rgb(50,100,200);
}

.right{
    width: 66%;
    font-size: 0.8em;
    margin-left: 5px;
    margin-right: 5px;
    float: right;
}

.row{
    background: rgb(248,250,255);
    margin-top: 10px;
    margin-bottom: 10px;
    outline: 0.5px solid rgb(220,220,220);
}
.row>div
{
    padding-left: 5px;
    overflow: hidden;
}
.description
{
    background: hsl(200,25%,90%);   
    font-weight: 600;
    font-size: 0.9em;
    padding: 4px;
}
.dosage
{
    padding: 4px;
    font-size: 0.9em;
}
.calculated
{
    overflow: hidden;
    font-weight: 600;
    font-size: 1.1em;
    background: rgb(255,255,180);
    padding: 8px;
    line-height: 1.4em;
    text-align: left;
}
.withadjust
{
    padding-bottom: 3px!important;
}
.adjust{
    overflow: hidden;
    text-align: center;
    background: rgb(255,255,180);
    padding: 2px;
    height: 20px;
}
.adjustDrop{
    position: relative;
    text-align: center;
    font-size: 0.5em;
    background: rgb(255,255,180);
    height: 15px;
}
.adjust>button
{
    border: none;
    width: 30%;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    background: rgb(255,255,180);
    color: black;
    outline: 1px solid rgb(255,255,180);
    transition: 0.3s all;
    cursor: pointer;
    border-radius: 5px;
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
button:hover span {
  padding-right: 25px;
}
button span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10%;
  transition: 0.5s;
}
button:hover span:after {
  opacity: 1;
  right: 0;
}
button.reset:hover
{
  background: HSL(200,80%,85%);
}
button.reset span:after {
  content: 'reset';
}

button.plus:hover
{
    background: HSL(130,90%,80%);
}
button.plus span:after {
  content: 'incrs';
}

button.minus:hover
{
    background: HSL(0,80%,85%);
}
button.minus span:after {
  content: 'decrs';
}
.inactive
{
    color:rgba(0,0,0,0.2);
}
.active
{
    color:black;
}

.bot
{
    clear:both;
    padding: 2px;
}
.info
{
    width: 90%;
    margin-left: 5%;
    border-top: 0.5px solid rgb(225,225,225);
    float: left;
    color: rgb(100,100,100);
    font-size: 0.7em;
    margin-top: 5px;
    margin-bottom: 5px;
}


.ref
{
    text-align: right;
    clear:both;
    background: rgba(0,0,50,.03);
    padding: 2px;
    color:  rgba(0,0,50,.3);
    font-size: 0.5em;
}
.emphasize
{
    background: hsla(220,70%,25%,1);
    color: white;
    font-size: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    line-height: 30px;
    font-weight: 600;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.subtittle
{
    font-size: 0.5em;
    font-weight: 300;
}
.maxDose{
  background-color: pink;
}
.warning{
    background: yellow;
    color: black;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    margin-top:5px;
    margin-bottom:5px;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}
span.adjusted{
   text-decoration: underline;
}

.disclaim{
    font-size: 0.6em;
    text-align: center;
    color: rgba(0,0,0,0.5);
    padding: 2px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
{ font-size: 16px; }

.list-move{
    transition: all 0.2s ease;
}

.list-leave-active{
    max-height: 0px;
    overflow: hidden;
}




span.q
{
    padding: .1em .6em .1em;
    font-size: 0.8em;
    font-weight: 700;
    line-height: 1em;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 5px;
}
span.q4h{
    background-color: hsla(-60, 64%, 58%,0.8);
    color: #fff;
}
span.q6h{
    background-color: hsla(0, 60%, 60%,0.8);
    color: #fff;
}
span.q8h{
    background-color: hsla(100, 64%, 30%,0.8);
    color: #fff;
}

span.q12h{
    background-color: hsla(200, 80%, 30%,0.8);
    color: #fff;
}
span.qd{
    background-color: hsla(250, 64%, 60%,0.8);
    color: #fff;
}
span.qod{
    background-color: hsla(320, 80%, 40%,0.6);
    color: #fff;
}
span.qw{
   background-color: hsla(20, 100%, 45%,0.8);
    color: #fff;
}
span.biw{
   background-color: hsla(40, 100%, 45%,0.8);
    color: #fff;
}
span.tiw{
   background-color: hsla(60, 100%, 45%,0.8);
    color: #fff;
}

span.st{
   background-color: hsla(180, 64%, 0%,0.8);
    color: #fff;
}
span.cont{
   background-color: hsla(159, 0%, 40%,0.8);
    color: #fff;
}
span.r
{   
    padding: 0em .2em;
    font-size: 0.5em;
    font-weight: 600;
    line-height: 1em;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .1em;
    border-radius: 0px;
}
span.iv
{   
    background-color: hsla(200, 70%, 50%,0.4);
    color: #fff;
}
span.po
{   
    background-color: hsla(350, 90%, 40%,0.5);
    color: #fff;
}
span.rc
{   
    background-color: hsla(50, 90%, 20%,0.5);
    color: #fff;
}
span.et
{   
    background-color: hsla(300, 70%, 50%,0.4);
    color: #fff;
}
.notification{
    text-align: center;
    background: hsl(200,90%,25%);
    color: hsl(200,20%,95%);
    font-weight: 600;
    font-size: 0.7em;
    padding-bottom: 8px;
    line-height: 1.5em;
}

h1{line-height: 3em;}


.example{
    background: white;

}
.example-ani-enter, .example-ani-leave-to{
    opacity: 0.5;
}
.example-ani-enter-active,.example-ani-leave-active{
    transition: 0.25s;
}
.greyout{
    color:hsla(0,100%,100%,0.8)
}