body{
    background: hsl(50,50%,90%);
    font-family: "Microsoft JhengHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow-y:scroll;
    font-size: 16px;
}
h2{
    text-align: center;
    margin-top:5px;
    margin-bottom:5px;
}
.clear{clear:both;}
.selected{
    box-shadow: 0px 0px 0px 2px #000 inset!important;
}
.wrapper{
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ga.btn{
    float: left;
    width: 48%;
    text-align: center;
    line-height: 2em;
}
.ga.btn.c1{
    background-color: hsl(100,50%,70%);
}
.ga.btn.c2{
    background-color: hsl(150,50%,70%);
}
.comp.btn{
    float:left;
    width: 48.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    text-align: center;
    line-height: 3em;
    border-radius: 5px;
    transition: 0.3s;
}

.comp.btn.c1{
    background-color: hsl(100,60%,80%);
}
.comp.btn.c2{
    background-color: hsl(100,60%,80%);
}
.comp.btn:hover{
    background-color: hsl(100,35%,90%);
}
.age.btn{
    float:left;
    width: 32%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    text-align: center;
    line-height: 3em;
    border-radius: 5px;
    transition: 0.2s;
}
.age.btn.c1{
    background-color: hsl(0,60%,80%);
}
.age.btn.c2{
    background-color: hsl(0,60%,80%);
}
.age.btn.c3{
    background-color: hsl(0,60%,80%);
}
.age.btn:hover{
    background-color: hsl(0,60%,90%);
}
table.content{
    width:100%;
    text-align: center;
    border: 1px solid;
}
.col1{
    width: 20%;
    font-size:0.65em;
}
.col2{
    width: 30%;
}
.col3{
    width: 30%;
}

.subtitle{
    font-size: 0.6em;
    color: hsl(0,0%,80%);
    white-space: nowrap;
}
tr{
    height: 2.5em;
}
th{
    background: hsl(35,80%,20%);
    color: white;
    font-size: 0.8em;
}
td{
    font-size: 0.8em;
}
tr:nth-child(even) td{
    background-color: rgb(230,230,230);
}
tr:nth-child(odd) td{
    background-color:rgb(255,255,255);
}
tr:hover td{
    background-color:hsl(50,70%,80%);
}
.selectedTR>td{
    background:  hsl(50,70%,70%) !important;
}
table {
  border-collapse: collapse;
  margin-top:20px;
}
table th {
  border: 1px solid hsl(35,80%,10%);;
}
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}
.order.wrapper{
    margin-top:10px;
    margin-bottom:10px;
    background: hsl(50,50%,80%);
    border-radius: 10px;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
}


.disclaim{
    font-size: 0.6em;
    text-align: center;
    color: rgba(0,0,0,0.5);
    padding: 2px;
}