body{
    background: hsl(50,70%,90%);
    font-family: "Microsoft JhengHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow-y:scroll;
    font-size: 12px;
}
h2{text-align: center;}
.clear{clear:both;}
.wrapper{
    width: 95%;
    margin: auto;
    margin-top: 5px;
}
.ga.btn{
    float: left;
    width: 48%;
    text-align: center;
    line-height: 2em;
}
.ga.btn.c1{
    background-color: hsl(100,50%,70%);
}
.ga.btn.c2{
    background-color: hsl(150,50%,70%);
}
.comp.btn{
    float:left;
    width: 48.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    text-align: center;
    line-height: 3em;
    border-radius: 5px;
}
.comp.btn.c1{
    background-color: hsl(200,50%,70%);
}
.comp.btn.c2{
    background-color: hsl(200,50%,50%);
}
.selected{
    box-shadow: 0px 0px 0px 2px #000 inset;
}
.age.btn{
    float:left;
    width: 32%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    text-align: center;
    line-height: 3em;
    border-radius: 5px;
}
.age.btn.c1{
    background-color: hsl(300,50%,60%);
}
.age.btn.c2{
    background-color: hsl(300,50%,70%);
}
.age.btn.c3{
    background-color: hsl(300,50%,80%);
}

table.content{
    width:100%;
    text-align: center;
    border: 1px solid;
}
.col1{
    width: 20%;
}
.col2{
    width: 30%;
}
.col3{
    width: 30%;
}

.subtitle{
    font-size: 0.6em;
    color: hsl(0,0%,80%);
    white-space: nowrap;
}
tr{
    height: 2.5em;
}
th{
    background: hsl(35,80%,20%);
    color: white;
    font-size: 0.8em;
}
tr:nth-child(even) td{
    background-color: rgb(230,230,230);
}
tr:nth-child(odd) td{
    background-color:rgb(255,255,255);
}
table {
  border-collapse: collapse;
}
table th {
  border: 1px solid hsl(35,80%,10%);;
}
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

.disclaim{
    font-size: 0.6em;
    text-align: center;
    color: rgba(0,0,0,0.5);
    padding: 2px;
}