<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ped Dose Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="./javascripts/vue@2.3.js"></script>
    <script type="text/javascript" src="./javascripts/jquery-3.2.1.js"></script>
    <link rel=stylesheet type="text/css" href="./stylesheets/manager.css">
</head>
<body>
    <div id="app">
        This is manager <br>
        <form action="javascript:void(0)">
            <input type="text" v-model="dataset"></input>
            <button @click="getjson">get</button>
            <button @click="postjson">post</button>
        </form>
        <br>
        <div id="result">
            <div v-for="item in drugList" class="drugContent">
                <div class="title">Drug</div>                
                 <form action="javascript:void(0)">
                    <div class="field">
                        <div> Drug Name:</div>
                        <textarea v-model="item.drugName"> </textarea>
                    </div>
                    <div class="field">
                        <div> Indication:</div>
                        <textarea v-model="item.indication"> </textarea>
                    </div>
                    <div class="field">
                        <div>Age Limit:</div>
                        <div class="limitContainer">
                            <input v-model="item.ageLimitL">
                            ~
                            <input v-model="item.ageLimitU">
                        </div>
                     </div>
                    <div class="field">
                        <div>BW Limit:</div>
                        <div class="limitContainer">
                            <input v-model="item.bwLimitL">
                            ~
                            <input v-model="item.bwLimitU">
                        </div>
                    </div>
                       <div class="field">
                        <div> Information:</div>
                        <textarea v-model="item.info"> </textarea>
                    </div>
                    <div class="field">
                        <div> Reference:</div>
                        <textarea v-model="item.reference"> </textarea>
                    </div>
                    <div class="field">
                        <div> Tag:</div>
                        <input v-model="item.tag"> 
                    </div>
                    <div class="row">
                        <div v-for="row in item.content" class="doseContainer">
                            <div class="doseTitle">Doses</div>
                            <div class="dosefield">
                                <div class="doseContainer-title">Description</div>
                                <input class="input" v-model="row.description">
                            </div>
                            <div>
                                <div class="doseContainer-title">Dosage</div>
                                <input class="input" v-model="row.dosage">
                            </div>
                            <div>
                                <div class="doseContainer-title">Equation</div>
                                <textarea class="input" v-model="row.equation"></textarea>
                            </div>
                                <div class="doseContainer-title">Age Limit</div>
                            <div class="limitContainer">
                                <input v-model="row.ageLimitL">~
                                <input v-model="row.ageLimitU">
                            </div>
                                <div class="doseContainer-title">BW Limit</div>
                                <div class="limitContainer">
                                    <input v-model="row.bwLimitL">~
                                    <input v-model="row.bwLimitU">
                                </div>
                        </div>
                    </div>
                 
                 </form>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="./javascripts/manager.js"></script>
</html>