<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ped Dose Manager</title>
    <script type="text/javascript" src="./javascripts/vue@2.3.js"></script>
    <script type="text/javascript" src="./javascripts/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="./stylesheets/manager.css">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap-theme.css">
    <script type="text/javascript" src="./bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./javascripts/lodash.js"></script>
</head>
<body>
    <div id="app">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>Ped Dose Manager</h2>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-4 form-inline">
                    <label for="dataset">Dataset:</label>
                    <div class="input-group">
                        <input type="text" id="dataset" class="form-control" v-model="dataset"></input>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info" @click="getjson">get</button>
                            <button type="button" class="btn btn-warning" @click="postjson">post</button>
                            <button type="button" class="btn btn-danger" @click="makestable">Publish</button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button type="button" id="sort" class="btn btn-success" @click="sort">sort</button>
                </div>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input type="text" id="search" class="form-control" v-model="searchTextInput" placeholder="Search"></input>
                        <span class="input-group-btn">
                            <button class="btn btn-default" @click="searchTextInput='';searchText=''">Clear</button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-2">
                     <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" @click="makeSearchList">Tag
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li v-for="tag in searchList">
                                <a href="#" @click="searchTextInput=tag;searchText=tag">{{tag}}</a>
                            </li>
                        </ul>
                </div>
                <div class="col-sm-1">
                    <div class="input-group">
                        <input type="text" id="bw" class="form-control" v-model="bw_checked" placeholder="BW" @input="calculateDose"></input>
                    </div>
                </div>
             
            </div>
            <br>
             <div v-for="(item, index) in drugList" v-if="checkSearchText(item)">
                 <div class="panel panel-primary">
                    <div class="panel-heading">#{{index+1}}-<strong>{{item.drugName}}</strong>
                        <button class="btn btn-danger btn-xs" @click="deleteDrug(index)">delete</button>
                        <button class="btn btn-info btn-xs" @click="copyDrug(index)">copy</button>
                    </div>
                        <form class="form-horizontal panel-body">
                            <div class="form-group row">
                                <label for="drugName" class="control-label col-sm-1 text-right">Drug Name:</label>
                                <div class="col-sm-4">
                                    <textarea id="drugName" v-model="item.drugName" class="form-control" > </textarea>
                                </div>
                                <label for="Indication" class="control-label col-sm-1 text-right">Indication:</label>
                                <div class="col-sm-4">
                                    <textarea id="Indication" v-model="item.indication" class="form-control" > </textarea>
                                </div>
                            </div>
                              <div class="form-group row">
                                <label for="Info" class="control-label col-sm-1 text-right">Information:</label>
                                <div class="col-sm-4">
                                    <textarea id="Info" v-model="item.info" class="form-control" > </textarea>
                                </div>
                                <label for="ref" class="control-label col-sm-1 text-right">Reference:</label>
                                <div class="col-sm-4">
                                    <textarea id="ref" v-model="item.reference" class="form-control" > </textarea>
                                </div>
                            </div>    
                            <div class="form-group row">
                                 <label for="tag" class="control-label col-sm-1 text-right">Tag:</label>
                                 <div class="col-sm-4">
                                    <input id="tag" v-model="item.tag" class="form-control"> 
                                 </div>
                                 <label for="bw" class="control-label  col-sm-1 text-right ">BW Range:</label>
                                 <div class="col-sm-1">
                                    <input id="bw" v-model="item.bwLimitL" class="form-control">
                                </div>
                                <div class="col-sm-1">
                                    <input v-model="item.bwLimitU" class="form-control">
                                 </div>
                                 <label for="age" class="control-label  col-sm-1 text-right ">Age Range:</label>
                                 <div class="col-sm-1">
                                    <input id="age" v-model="item.ageLimitL" class="form-control">
                                 </div>
                                 <div class="col-sm-1">
                                    <input v-model="item.ageLimitU" class="form-control">
                                 </div>
                                <div class="col-sm-1">
                                    <select class="form-control">
                                        <option></option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div v-for="(row,rowindex) in item.content" class="leftOffSet">
                        <div class="panel panel-success">
                            <div class="panel-heading">({{rowindex+1}}) <strong>{{row.description}}</strong>
                                 <button class="btn btn-danger btn-xs" @click="deleteDose(index,rowindex)">delete</button>
                                <button class="btn btn-info btn-xs" @click="copyDose(index,rowindex)">copy</button>
                            </div>
                                <form class="form-horizontal panel-body" action="javascript:void(0)">
                                    <div class="form-group row">
                                        <label for="description" class="control-label col-sm-1">Description:</label>
                                        <div class="col-sm-3">
                                            <input id="description" v-model="row.description" class="form-control">
                                        </div>
                                         <div class="col-sm-1">
                                            <button class="btn btn-default" @click="convertLimit(row)"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Convert</button>
                                        </div>
                                        <label for="bw" class="control-label  col-sm-1 text-right ">BW Range:</label>
                                        <div class="col-sm-1">
                                            <input id="bw" v-model="row.bwLimitL" class="form-control">
                                        </div>
                                        <div class="col-sm-1">
                                            <input v-model="row.bwLimitU" class="form-control">
                                        </div>
                                        <label for="age" class="control-label  col-sm-1 text-right ">Age Range:</label>
                                        <div class="col-sm-1">
                                            <input id="age" v-model="row.ageLimitL" class="form-control">
                                        </div>
                                        <div class="col-sm-1">
                                            <input v-model="row.ageLimitU" class="form-control">
                                        </div>
                                        <div class="col-sm-1">
                                            <select class="form-control selectpicker">
                                                <option></option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Dosage" class="control-label col-sm-1">Dosage:</label>
                                        <div class="col-sm-3">
                                            <textarea id="Dosage" v-model="row.dosage" class="form-control" ></textarea>
                                        </div>
                                        <label for="Equation" class="control-label col-sm-1">Equation:</label>
                                        <div class="col-sm-3">
                                            <textarea id="Equation" v-model="row.equation" class="form-control" @input="calculateDoseThisDose(row)"></textarea>
                                        </div>
                                        <label for="Calculated" class="control-label col-sm-1">Calculated:</label>
                                        <div class="col-sm-3">
                                            <textarea id="Calculated" v-model="row.calculated" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>    
                        </div>
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-2 text-center">
                                <button class="btn btn-success" @click="createNewDosage(index)">Create New Dosage</button>
                            </div>
                            <div class="col-sm-2 text-center">
                                <button class="btn btn-primary" @click="insertMedication(index)">Insert Medication</button>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                        <br><br><br><br>
                    </div>
            </div>
        </div>
</body>
<script type="text/javascript" src="./javascripts/managerVM.js"></script>
</html>
   