*, body{
    font: 100%;
}
.drugContent{
    margin-top:25px;
    width: 80%;
}
.title{
    width: 100%;
    background: rgb(235,245,245);
    font-size: 1.2em;
}
.field, .doseContainer
{
    padding: 1px;
    border: 1px solid black;
    margin: 2px;
}
.field>:first-child{
    width: 20%;
    padding: 1px;
    float:left;
}

.field>textarea, .field>input{
    width: 50%;
    padding: 1px;
}
.limitContainer>input{
    width: 10%;
    display: inline-block !important;
}
.row
{
    position: relative;
    width: 85%;
    left: 10%;
}
.doseContainer
{
    width: 100%;
}
.doseTitle{
    background:  rgb(240,255,245)
}

.doseContainer-title{
    width: 20%;
    padding: 1px;
    float:left;
}
.input
{
    width: 70%;
    padding: 1px;
}