textarea {
   resize: none;
}
.leftOffSet{
    margin: auto;
}
textarea, input {
    font-size: 80%!important;
}
.h-divider{
    margin-top:5px;
    margin-bottom:20px;
    height:1px;
    width:100%;
    border-top:1px solid grey;
}